<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>T tech</span>
  <span class="example-spacer"></span>
  <button
    mat-button
    class="example-icon"
    *ngIf="!(signedin$ | async)"
    routerLink="/"
  >
    Sign in
  </button>
  <button
    mat-button
    class="example-icon"
    *ngIf="signedin$ | async"
    routerLink="/signout"
  >
    sign out
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
